<!doctype html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <div>
        <header class="relative bg-indigo-400 w-full" x-data="{ isOpen: false }">
            <%- include('partials/header'); %>
        </header>

        <section class="relative h-screen w-full flex items-center justify-center">
            <img src="storage/home.png" class="z-0 absolute h-full w-full">

            <div class="z-10 container absolute h-4/5 w-1/2 bg-white bg-opacity-50 overflow-auto inline-block">

                <form action="/generate" method="POST">
                    <% for(x=0;x<ingredients.length;x++){%>
                        <div class="ml-2 inline-block h-10 w-52 pt-2">
                            <div class="pretty p-default p-thick p-round p-pulse p-bigger text-lg">
                                <input type="checkbox" id="ingredient1" name="ingredient" value="<%-ingredients[x].ingredientID%>">
                                <div class="state p-danger p-danger-o">
                                    <label class="font-mono"><%=ingredients[x].ingredientName%></label>
                                </div>
                            </div>
                        </div>
                        <%}%>
                            <input type="hidden" name="count" id="cnt" value="0">

            </div>
            <br><br><br>
            <button onclick="checkboxes()" type="submit" class="bottom-0 px-8 py-2 text-lg font-medium text-white transition-colors duration-300 transform border rounded hover:bg-black" style="margin-top:39rem">
                        Generate
                    </button>
            </form>
        </section>


        <%if (dishes){%>

            <section class="bg-white" id="result">
                <div class="max-w-5xl px-6 py-16 mx-auto">

                    <% for(x=0;x<dishes.length;x++){%>
                        <div class="inline-block w-80 rounded overflow-hidden shadow-lg" style="height:35rem">
                            <img class="w-full h-64" src="storage/Dishes/<%=dishes[x].dishPic%>">
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2"><button onclick="toggleModal('modal<%=dishes[x].dishID%>')"><%=dishes[x].dishName%></button></div>
                                <p class="text-gray-700 text-base overflow-auto h-44 w-full">
                                    <%=dishes[x].dishDescription%>...
                                </p>
                                <div class="bottom-0 container pb-8 flex justify-center">
                                    <button type="button" class="text-white text-sm py-2.5 px-5 rounded-md bg-gray-700 hover:bg-gray-900 hover:shadow-lg" onclick="toggleModal('modal<%=dishes[x].dishID%>')">Show more...</button>
                                </div>
                            </div>

                        </div>

                </div>
            </section>

            <%}%>
                <% for(x=0;x<dishes.length;x++){%>
                    <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal<%=dishes[x].dishID%>">
                        <div class="relative w-auto my-6 mx-auto max-w-2xl">
                            <!--content-->
                            <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                                <!--header-->
                                <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                                    <h3 class="text-3xl font-semibold">
                                        <%=dishes[x].dishName%>
                                    </h3>
                                </div>
                                <!--body-->
                                <div class="relative p-6 flex-auto">
                                    <img class="w-full h-96" src="storage/Dishes/<%=dishes[x].dishPic%>">
                                    <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                                        <%=dishes[x].dishDescription%>
                                    </p>

                                    <% for(y=0;y<dishingredient[x].length;y++){%>
                                        <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                                            <%=dishingredient[x][y].amount%>
                                                <%=dishingredient[x][y].measurement%>
                                                    <%=ingredient[x][y].ingredientName%>
                                        </p>
                                        <%}%>

                                </div>
                                <!--footer-->
                                <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
                                    <%if(!account){}else if(account && dishes[x].check=="1"){%>

                                        <button type="button" class="text-white text-sm py-2.5 px-5 rounded-md bg-gray-700 hover:bg-gray-900 hover:shadow-lg">Added Already</button>
                                        <%}else if(account && dishes[x].check=="0"){%>

                                            <a href="/addFave?id=<%=dishes[x].dishID%>"><button type="button" class="text-white text-sm py-2.5 px-5 rounded-md bg-gray-700 hover:bg-gray-900 hover:shadow-lg">Add to Favourites</button></a>
                                            <%}%>
                                                <button class="text-gray-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal<%=dishes[x].dishID%>')">
                        Close
                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
                            <script>
                                function checkboxes() {

                                    var inputElems = document.getElementsByTagName("input"),
                                        count = 0;

                                    for (var i = 0; i < inputElems.length; i++) {
                                        if (inputElems[i].type === "checkbox" && inputElems[i].checked === true) {
                                            count++;
                                        }
                                    }

                                    document.getElementById("cnt").value = count;
                                    var cts = document.getElementById("cnt").value;
                                }

                                function toggleModal(modalID) {
                                    document.getElementById(modalID).classList.toggle("hidden");
                                    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
                                    document.getElementById(modalID).classList.toggle("flex");
                                    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
                                }
                            </script>
    </div>
</body>